.how_it_works_content h4 {
  background-color: #242424;
  font-weight: 600;
  font-size: 2.2rem;
  color: var(--text-color);
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 100%;
  padding: 2.3rem 2rem;
  color: #ffff;
}

.card h5 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.1rem;
  font-weight: 400;
}
