@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #191816;
}

#root {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  --secondary-color: #191816;
  --main-color: #013ac9;
  --background-color: #242424;
  --btn_color: #7080f9;
  --text-color: #ffffff;
}

@font-face {
  font-family: "Candy";
  src: url("./fonts/Candy Christmas.otf") format("woff2"),
    url("./fonts/Candy Christmas.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CompactaBlack";
  src: url("./fonts/CompactaBlack.otf") format("woff2"),
    url("./fonts/CompactaBlack.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Кастомный скроллбар для Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px; /* ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* фон трека (задний фон) */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #555; /* сам бегунок */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
